<mat-card >
	<p>Перевод статьи ресурса Angular-University <a target="_blank" href="https://blog.angular-university.io/angular-service-worker">Angular Service Worker - Step-By-Step Guide for turning your Application into a PWA</a>
		<a style="position: absolute; right: 40px; text-decoration: none" routerLink="/">Назад</a>
	</p>
	<div class="imgContainer">
		<img src="/assets/imgs/angular-service-worker/angular-university-logo.png">
	</div>
	<h2 class="articleHeader">Сервисный рабочий Angular - пошаговое руководство превращения приложения в прогрессивное веб приложение (PWA).</h2>
	<p>С поддержкой сервисного рабочего и техники прогрессивных веб приложений, встроенных в интерфейс коммандной строки Angular CLI, теперь проще, чем когда-либо превратить веб приложение в загружаемое и устанавливаемое приложение, подобно настоящим мобильным приложениям. В данной статье мы рассмотрим то, как можно конфигурировать инструмент коммандной строки Angular CLI для генерации приложений, которые после компановки на продакшн получают возможность быть загруженными и  установленными на устройство. Здесь рассмотрим добавление файла манифеста для работы приложения в технике PWA, который и предусматривает настройку файлов для предсказуемого поведения браузера - установки иконки приложения на рабочий стол и предварительную загрузку ресурсов. <br>
	Здесь мы рассмотрим создание первоначальной структуры приложения вновь создаваемого приложения, используя Angular CLI, настройку включения функций для прогрессивных приложений, разберем подробно какую роль играет Angular CLI при добавлении функциональности сервисного рабочего в уже существующее приложение.<br>
	По пути, поговорим о дизайне сервисного рабочего в Angular, и о том, как это работает "под капотом", немного отличаясь от других сборок генерации сервисного рабочего.</p>
	<h3>Лучше чем установка мобильного приложения.</h3>
	<p>В Angular загрузка и установка сервисного рабочего происходит в фоновом (автоматическом) режиме, без необходимости для разработчика иметь опыт работы с сервисными рабочими, и это намного лучше, чем текущий механизм работы мобильных приложений, при котором необходимо загружать постоянные обновления. Механизм прогрессивного приложения имеет неявную поддержку обновлений версий приложения, к примеру, если разработчик меняет в приложении только файл CSS, тогда сервисному рабочему необходимо подгрузить в браузер только эту, обновленную версию файла, не касаясь остальных файлов приложения и не перезагружая приложение полностью.<br>
	Так же, обновление версии приложения может быть обработано в фоне, незаметно для пользователя. Он будет видеть только одну версию приложения в нескольких открытых закладках, а так же существует возможность опроса пользователя для немедленной установки  обновленной версии приложения.</p>
	<h3>Преимущества в производительноси и внесетевая поддержка.</h3>
	<p>Преимущества в производительности от установки всех файлов сборки на браузер пользователя, делает приложение очень быстозагружаемым. Насколько быстро? От нескольких раз до порядков в увеличении производительности загрузки, в зависимости от файлов приложения.<br>
	Любое приложение получает преимущество в производительности, включаемое свойствами PWA загрузки и установки, и не является приоритетом только мобильных приложений. Но получение всех файлов приложение через быстую загрузку и установку в браузер - это только первый шаг осуществления поддержки работы во внесетевом режиме, поскольку он требует не только загрузки и установки. И как мы увидим, преимущества от функций PWA  приложений, которые мы рассмотрим более подробно далее, значительны. </p>
	<h3>Содержание.</h3>
	<p>В статье будут рассматриваться следующие темы:</p>
	<ol class="table-content-block">
		<li class="table-element" *ngFor="let item of tableContent" [innerHTML]="domSanitizer.bypassSecurityTrustHtml(item)"></li>
	</ol>
	<app-sample-code [context]="{header : 'Заголовок', background : '#d5dcff', ext : '.js'}">
<pre>
  &#60;div class="123"&#62;21&#60;/div&#62;
</pre>
	</app-sample-code>
</mat-card>