<mat-card  class="mat-card">
    <div class="header-block">
        <h3 >Оптимизация производительности сайта https://1c.market</h3> <a style="position: absolute; right: 40px; text-decoration: none" routerLink="/">Назад</a>
    </div>
    <p >Для наилучшего понимания проблем производительности, важно использовать соответствующие инструменты аудита, которые могли бы
        оценить текущую картину узких мест производительности приложения и предложить методы и мероприятия по исправлению ситуации.
        Наиболее подходящими инструментами исследования проблемных мест являются Chrome DevTools (основной инструмент отладки web
        разработчика) и Lighthouse - автоматизированный инструмент повышения качества Web страниц, с открытым кодом, имеющий в своем
        составе инструменты аудита производительности, SEO взаимодействия, доступности для людей с ограниченными возможностями ,
        прогрессивных веб приложений и др.
    </p>
    <h4 >Оценка текущего состояния автоматическим инструментами аудита.</h4>
    <p >Оценка текущего состояния сайта производится в браузере Chrome, с отключенными браузерными расширениями, для исключения
        стороннего потребления памяти, показала не плохие результаты загрузки и отображения.
    </p>
    <ol >
        <li >Имитация загрузки сайта для браузеров мобильных устройств. Данный тип проверки имитирует низкую пропускную способность
            сетевого канала (throttling).
        </li>
        <li >Имитация загрузки сайта для браузеров стационарных компьютеров</li>
        <li >Общий аудит производительности сайта в сетевом инструменте аудита PageSpeed Insights</li>
        <li >Аудит приложения на сайте автоматизированного аудита https://online.seranking.com</li>
        <li >Карта распределения / потребления памяти для отдельных пакетов кода</li>
        <li >Скорость обработки различных стадий приложения.</li>
    </ol>
    <ol >
        <!----><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/1.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/2.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/3.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/4.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/5.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/6.png">
    </li>
    </ol>
    <h4 >Анализ полученной информации, изучение кода приложения</h4>
    <ul >
        <li >Время загрузки ресурсов сайта, после очистки кэша, судя по данным профилировщика (DevTool), составляет около 700ms - очень
            приличный результат.
        </li>
        <li >Блокирующие основной поток загрузки сторонние библиотеки (api.maps и ms.yandex ).</li>
        <li ></li>
        <li >Глобальный запрет кэширования, запрет сохранения контента, директива принудительного обновления, отключение диапазона
            истечения ресурсов приложения, установленные через мета-заголовки. Возможно, это было сделано для принудительной
            синхронизации контента клиента с обновленным контентом на сервере.
            <samp >
                <meta  content="no-cache, no-store, must-revalidate, post-check=0, pre-check=0" http-equiv="Cache-Control">
                <meta  content="no-cache" http-equiv="Pragma">
            </samp>
        </li>
        <li >Отключен механизм стратегии предварительной загрузки (preloadStrategy) модулей основных маршрутов. Данная стратегия
            предполагает предварительную загрузку и кэширования модулей основных маршрутов вне основного потока загрузки, что в
            последствии ускоряет загрузку этих модулей (компонентов) при первом обращении к ним клиента интерактивно. Т.е. при
            активации ссылки клиент не ждет загрузки компонента, а получает его мгновенно, как предварительно загруженного, из кэша.</li>
        <li >Отсутствие сжатия (оптимизация) картинок. Применение сжатых картинок, без потери качества, могло бы снизить
            первоначальную загрузку ресурсов.
        </li>
        <li >В архитектуре приложения применяется модель с прокси сервером, что является фундаментальным фактором сдерживания
            дальнейшей оптимизации производительности, преодолеть который, средствами современной оптимизации кода, не удастся.
        </li>
        <li >Работа приложения на мобильных устройствах и на стационарных машинах осуществляется с одного сервера. Учитывая
            объективно низкую ширину пропускания канала связи мобильных приложений, для них требуется реализация отдельного
            сервера.
        </li>
        <li >Конфигурация файла сборки пакетов содержит не соответствующие назначению сборок настройки. Для build:prod
            (sourceMap=true) , для build:stage (production=false, sourceMap=true, не установлены флаги buildOptimazer и настройка optimization)
        </li>
        <li >Анализ кода Angular охранителей маршрутов не производился.</li>
    </ul>
    <h4 >Выполненные мероприятия.</h4>
    <ul >
        <li >Блокирующим ресурсам добавлен атрибут defer, для не блокирующего поведения.</li>
        <li >Сняты глобальные запреты кэширования ресурсов и данных. Для управления кэшированием и синхронизации контента клиента
            и сервера теперь используется сервисный рабочий. Приложение стало прогрессивным.</li>
        <li >Включен механизм предварительной загрузки основных маршрутизируемых модулей (preloadStrategy), со стратегией загрузки,
            отложенной во времени (delay).</li>
        <li >Введен сервисный рабочий ( ServiceWorker en , ru), что дает возможность автоматически кэшировать все данные приложения при
            первом его запуске, делая повторные запуски кэшируемых страниц практически мгновенными. Приложение получило
            возможность организовать PushNotification сервис оповещений покупателей (поставщиков), установки иконки приложения на
            экран любого мобильного устройства, а так же возможность работы пользователей приложения вне сети.</li>
        <li >Настройка файлов конфигураций приведена к виду , соответствующему назначению сборок (prod, stage).</li>
        <li >Написан сервис ручной и автоматической синхронизации данных клиент-серверных интерфейсов, после обновления данных на
            сервере.</li>
    </ul>
    <h4 >Мероприятия с повышенным сроком реализации.</h4>
    <p >Архитектура приложения и сценарий его запуска предполагает запуск компонента AppComponent, который, используя инжекцию
        зависимостей, подгружает много сервисов, не требующихся при запуске приложения и аутентификации пользователя. Вынос подобных,
        не использующихся при старте сервисов в структуру с отложенным запуском, мог бы снизить нагрузку на использование памяти в
        процессе запуска.</p>
    <h4 >Server Side Rendering (SSR) и его краткая версия - AppShell</h4>
    <p >Поисковые движки (SEO) современных браузеров (Chrome, Safary, Mozila ), для точного поиска контента, автоматически активируют
        видимые на страницах ссылки, получая контент, который может запускать JavaScript для компиляции контента страницы. Однако,
        некоторые поисковые движки, не способны работать с динамическим контентом и не взаимодействуют с JavaScript "на лету", а ждут для анализа статический контент, анализируя его и формируя на его основе приоритеты поиска. Для того, чтобы не упускать возможность
        индексации динамических приложений в не динамических поисковых движках существует техника компиляции веб приложения на
        сервере (SSR), для дальнейшей передачи скомпилированного содержимого в ответ на запрос. В своей основе SSR имеет две стороны
        исполнения кода : клиентскую и серверную (встраивается на сервер приложения), которые, взаимодействуя, просто превращают
        запрошенную страницу приложения в длинную строку, попутно устанавливая мета-заголовки (title, description и пр. ), которые и читают устаревшие SEO движки, формируя приоритеты сайта на основе содержимого его страниц и этих мета-заголовков. У этого подхода есть
        положительный побочный эффект - хорошая скорость загрузки сайта. Основа этой скорости - это предварительно скомпилированная на
        сервере длинная строка, представляющая само приложение.<br >
        Так же у этого подхода есть и отрицательный побочный эффект - трудоемкость и строгость написания приложения , основным правилом
        которого является недопустимость обращения на прямую в коде к сущностям дерева DOM, и к тем сущностям, которых на сервере не
        существует, с постоянной проверкой, перед обращениям к ним, платформы компиляции. Поэтому, очень важно принять решение о
        применении SSR и правильно организовать код приложения с самого начала его написания.<br >
        AppShell - упрощенная версия SSR, являющаяся частью структуры прогрессивного веб приложения (PWA), и техники микро-сервисной
        архитектуры, служащая цели быстрого "вброса" оболочки приложения, в которую, в дальнейшем, подгружаются данные отдельных микро-
        сервисов. Эта техника, так же зависима от отрицательного побочного эффекта SSR, и использует SEO ANGULAR модуль для установки мета- тегов главной страницы приложения.<br >
        Ниже, представлен результат неудачных попыток встроить AppShell в приложение (ошибка обращения к документу, не существующего на
        сервере), говорящий о том, что для встраивания оболочки в работающее приложение требуется более кропотливая работа по выявлению
        обращений к сущностям не существующим на сервере приложения.</p>
    <img  src="assets/imgs/optimization/7.png">
    <h4 >Применение выполненных мероприятий. Проверочное тестирование и аудит</h4>
    <p >Сразу нужно оговориться, что подобное тестирование не является полностью объективным и зависит от множества факторов при его
        использовании (скорости веб соединения, ширина его канала, производительности процессора компьютера на котором проводятся
        измерения, запущенные в этот момент браузерные дополнения или фоновые процессы и пр. ). Однако, подобный подход является
        хорошим индикатором направления работы в сфере оптимизации производительности и сигнализации внутреннего здоровья
        приложения.<br >
        Прежде чем применять выполненные мероприятия по оптимизации и получить измеримый результат, необходимо было провести аудит
        вышеперечисленными инструментами аудита и замерить скорость загрузки и обработки кода, и ресурсов для приложения до
        применения указанных выше мероприятий. Для этого было выбрано тестовое приложение на домене https://bnet-market-stage.1c.ru/. Замеры производились уже после того, как были изменены адреса отдачи ресурсов-изображений. Ниже представлены результаты тестов до
        применения оптимизации.</p>
    <ol >
        <li >Результаты аудита приложением Lighthouse от Google - автоматизированного инструмента аудита качества приложения</li>
        <li >Временные диапазоны обработки различных ресурсов приложения, представленные встроенным в DevTool профайлером.</li>
    </ol>
    <ol >
        <li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/8.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/9.png">
    </li>
    </ol>
    <p >Из представленных выше результатов аудита, видно, что приложение немного проседает по общей производительности, а время,
        необходимое на загрузку и обработку файлов приложения составляет около 1300ms, что не является критичным, но является кандидатом на применение оптимизации.<br >
        После применения вышеперечисленных мероприятий по оптимизации при тех же условиях и на той же машине, результаты
        аудита изменились, и показали</p>
    <ol >
        <li >Результаты аудита приложением Lighthouse от Google - автоматизированного инструмента аудита качества приложения</li>
        <li >Временные диапазоны обработки различных ресурсов приложения, представленные встроенным в DevTool профайлером.</li>
    </ol>
    <ol >
        <li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/10.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/11.png">
    </li>
    </ol>
    <p >Из представленных выше результатов тестирования приложения видно, что общая производительность неплохо подросла, а время,
        необходимое на обработку ресурсов приложения сократилось в двое из-за включения внутренней Angular оптимизации, применения
        механизмов TreeShaiking встроенного в новый движок Angular Avy и клиентского кэширования ресурсов, Кроме этого, приложение
        получило дополнительные конкурентные преимущества перед приложениями конкурентов в сети, не использующие современные
        технологии по оптимизации и повышению UserExperience всего приложения, а именно:</p>
    <ul >
        <li >Приложение получило уникальную возможность устанавливаться на любые мобильные устройства пользователей в качестве
            приложений NativeLike, что открывает не плохие перспективы его использования на мобильных устройствах.</li>
        <li >Приложение получило возможность использовать веб технологию PushNotification для мгновенного оповещения пользователей
            (покупателей и продавцов) о полученных заказах или о поступивших коммерческих предложениях непосредственно на любое
            устройство, которое использует пользователь, вне зависимости от того, открыто ли приложение в браузере или нет.</li>
        <li >Приложение получило возможность работать в отсутствие сети, только на тех ресурсах, которых ему удалось загрузить в кэш
            приложения при помощи сервисного рабочего и его настраиваемой стратегии кэширования контента, а затем плавно
            продолжить работу после ее появления, не беспокоя пользователя уведомлениями об отсутствия сети.</li>
    </ul>
    <h4 >Имеющийся ресурс по оптимизации</h4>
    <p >На момент написания статьи не проведен полный набор мероприятий по отдельным категориям аудита, к примеру, по доступности
        элементов формы для лиц с ограниченными возможностями. Так же, остается возможность применения мероприятий с повышенным
        сроком реализации (SSR или AppShell). Но, на текущий момент можно зафиксировать полученный результат, проведя проверочную
        эксплуатацию экземпляра приложения на стенде (Stage), выявить имеющиеся преимущества и недостатки проведенных мероприятий и
        уже на этой основе принимать решение о дальнейшей оптимизации и загрузке стендового экземпляра в производство.</p>
    <h4 >Внедрение Server Side Rendering (SSR) и результаты тестирования</h4>
    <p >Тестовый сайт находится по адресу https://bnet-market-ssr-stage.1c.ru . После комплексной подготовки сайта для применения SSR и
        установки на него сервера статических ресурсов и модуля angular/universal необходимо убедиться в том, что модуль отрабатывает как ожидается и первая порция данных является строковым представлением скомпилированного на сервере документа. Для локальной
        проверки необходимо загрузить (клонировать) ветку BNET-4524-SSR-docker на локальную машину, загрузить файлы зависимостей (npm
        install) , в файле конфигурации angular.json для сборки пакета stage установить флаг sourceMap=true, optimization =&gt; scripts : true . Скомпилировать сборку командой npm run prerender:stage. После того как сборка скомпилируется и в дереве проекта появятся ее файлы, нужно (для IDE Webstorm) настроить конфигурацию локального сервера NodeJs, где файлом для запуска, указать файл сервера
        приложения main.js из папки созданного пакета сборки dist/market/server/main.js. Запустить сервер и после удачного его старта пройти в браузер и в строке адреса указать : localhost:10234.<br >
        После того, как приложение запустится в браузере, открыть DevTools, перейти на закладку Source. Логика проста : Если перед первым запуском приложения установить точку останова в начале компиляции главного модуля приложения, перед компиляцией основного
        компонента AppComponent, то в момент ее срабатывания в браузере будет отображаться серверная версия страницы, в то время, как
        клиентская версия страницы еще не будет скомпилирована. Иными словами, при перезагрузки с установленной точкой останова, мы
        увидим длинную строку (не документ), скомпилированную на сервере объемом в один-три фрейма. И если пройти точку останова, то ее
        заменит клиентская версия страницы, скомпилированная компилятором в браузере, который к тому моменту уже выполнит свою работу.
        Можно хорошо видеть, что эти версии отличаются. Это от того, что серверная версия не имеет возможности обратиться к сущностям,
        которых на сервере не существует и запустить компоновку страницы основанной на документе DOM.<br >
        Срабатывания точки останова в конструкторе основного модуля приложения, перед началом компиляции главного модуля приложения в
        компиляторе, загруженного в браузер. Серверная версия отображается без css компоновки, основанной на документе DOM.</p>
    <img  src="assets/imgs/optimization/12.png">
    <p >Отображение серверной и клиентской версий на ленте фреймов. Хорошо видно серверную версию величиной в три фрейма.</p>
    <img  src="assets/imgs/optimization/13.png">
    <p >Ниже, представлены те же данные, но без применения модуля SSR. Хорошо видно, что серверная заставка не отображается, а белое поле для пользователя составляет три пустых фрейма.</p>
    <ol >
        <li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/14.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/15.png">
    </li>
    </ol>
    <h4 >Тестирование (аудит)</h4>
    <p >Перед началом тестирования и для получения более качественных результатов, отключения сторонних потребителей памяти, которые
        могут повлиять на результаты тестирования, предпочтительно ознакомится с некоторыми правилами проведения аудита и настройками
        инструмента тестирования. Поскольку, на сегодняшний момент копии сайта с SSR еще не присвоен SSL сертификат, результаты тестов
        могут различаться. Однако, интересно зафиксировать тесты с использованием безопасного протокола, подключением сервисного
        рабочего для оптимизации производительности, включением SSR и без использования безопасного протокола, сервисного рабочего, но с подключенным к приложению SSR. Ниже, представлен результат тестов не использующего безопасный протокол и сервисного рабочего,
        но с использованием SSR.</p>
    <img  src="assets/imgs/optimization/16.png">
    <h4 >Включение безопасного протокола и сервисного рабочего.</h4>
    <p >После установки сертификата у сайта появилась возможность использовать сервисного рабочего. Результаты тестирования после
        установки сертификата приведены ниже.</p>
    <img  src="assets/imgs/optimization/17.png">
    <h4 >Проверка работы сервиса установки метатегов.</h4>
    <p >Для взаимодействия поисковых ботов со страницами, скомпилированными на сервере, используется сервис установки метатегов title и
        description. При переходе с одной предварительно скомпилированной страницы на другую, в главном файле index.html изменяются
        значения вышеуказанных метатегов. Ниже, представлены скриншоты работы сервиса при переходе по страницам, обслуживаемым эти
        сервисом.</p>
    <ol >
        <li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/18.png">
    </li><li  class="ng-star-inserted">
        <img  src="assets/imgs/optimization/19.png">
    </li>
    </ol>
    <h4 >Заключение</h4>
    <p >Задача комплексной оптимизации приложения не может решится отдельными, не тривиальными мероприятиями, а должна быть
        предметом стратегического планирования при начале разработки приложения. Исходя из этого, для работающих приложений, задача
        оптимизации (загрузки, обработки контента и данных, и пр...) должна являться перманентной, и охватывать все возможные механизмы и технологии, способствующие увеличению производительности приложения и пользовательской активности.</p>
</mat-card>