/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/materialIcons.woff2") format('woff2');
}
@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/YanoneKaffeesatz-Light.ttf");
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 500;
    src: url("assets/fonts/Lobster-Regular.ttf") ;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-style: initial;
}
html{
    overflow-x: hidden;
}
body, mat-card.mat-card{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
/*------------colors-------------------*/
*[class^='dark']{
    font-weight: 500;
}
.dark-blue{
    color: #07009e;
}
.dark-green{
   color: #006a04;
}
.dark-red{
    color: #9d0000;
}
.dark-brown{
    color: #773b00;
}


/*---------------message form-------------*/
div.mat-input-suffix.mat-form-field-suffix{
    position: relative;
    top: 6px;
    margin-right: 7px;
}
/*----------article------------*/
.articlesSection > .article{
    width: calc(100% - 48px);
    margin: 24px;
}
.articlesSection > .article > mat-card{
    padding-left: 40px;
    padding-right: 40px;
}
/*------------code sample-----------------------*/
.codeSample{
    font-family:  Menlo, Monaco, "Courier New", Courier, monospace;
    background-color: #ebebeb;
    padding: 24px;
    font-size: 18px;
    overflow: auto;
}
pre{
     padding: 16px;
}
