/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
.dark-blue{
    color: #060070;
    font-weight: 300;
}
